#Mac-generated tracking file
.DS_Store

#Node modules
node_modules

#Next files
.next/

#App config
src/lib/firebase/config.js

#Emulator Config
apphosting.emulator.yaml

#Firebse logs
.firebase/logs

#Debug logs
firebase-debug.log
database-debug.log
firestore-debug.log